<div class="az-content-label mg-b-5">Antenatal Booking</div>
<div class="main-wrapper az-content-body">
    <div class="flex-column pd-10-f">
        <div class="pd-10 pd-sm-15 bg-gray-200 wd-xl-100p">
            <div class="row">
                <div class="col-auto">
                    <label class="rdiobox" for="create">
                        <input
                            id="create"
                            name="scheme"
                            type="radio"
                            checked
                            [value]="newAppointment"
                            (change)="onAppointmentTypeChange(newAppointment)"
                        />
                        <span>New Appointment</span>
                    </label>
                </div>

                <div class="col-auto mg-t-20 mg-lg-t-0">
                    <label class="rdiobox" for="edit">
                        <input
                            name="scheme"
                            id="edit"
                            type="radio"
                            [value]="editAppointment"
                            (change)="onAppointmentTypeChange(editAppointment)"
                        />
                        <span>Edit Appointment</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group mg-t-20">
            <app-patient-search
                #patientSearchComponent
                [props]="{
                    showLabel: false,
                    checkAdmission: false,
                    loadAdmission: false,
                    loadRevisit: true
                }"
                (selected)="onPatientSelect($event)"
            ></app-patient-search>
        </div>

        <app-patient-bio-card [selectedPatient]="payload.patient"></app-patient-bio-card>

        <ng-container *ngIf="selectedType == newAppointment">
            <fieldset class="border pd-l-20 pd-r-20 mg-t-10 rounded bg-gray-100">
                <legend class="w-auto tx-16 tx-bold">
                    Spouse Information
                </legend>

                <div class="row mg-b-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input
                                type="text"
                                class="form-control"
                                name="spouseName"
                                [(ngModel)]="payload.spouseName"
                            />
                        </div>
                        <div class="form-group">
                            <label>Occupation</label>
                            <input
                                type="text"
                                class="form-control"
                                name="spouseOccupation"
                                [(ngModel)]="payload.spouseOccupation"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input
                                type="text"
                                class="form-control"
                                name="spousePhone"
                                [(ngModel)]="payload.spousePhoneNumber"
                            />
                        </div>
                        <div class="form-group">
                            <label>Employer</label>
                            <input
                                type="text"
                                class="form-control"
                                name="spouseEmployer"
                                [(ngModel)]="payload.spouseEmployer"
                            />
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="border pd-l-20 pd-r-20 mg-b-20 mg-t-10 rounded bg-gray-100">
                <legend class="w-auto tx-16 tx-bold">
                    Booking Details
                </legend>

                <div class="row mg-b-35">
                    <div class="col-md-12 form-group">
                        <label>Case Consultant</label>
                        <app-user-search
                            #userSearchComponent
                            (selected)="onConsultantSelected($event)"
                        ></app-user-search>
                    </div>

                    <div class="col-md-12 form-group">
                        <label>Speciality Unit</label>
                        <app-speciality-search
                            #specialitySearchComponent
                            (selected)="onSpecialitySelected($event)"
                        ></app-speciality-search>
                    </div>

                    <div class="col-md-12 form-group">
                        <label>Select Clinic</label>
                        <app-clinic-dropdown
                            #clinicDropdownComponent
                            (selected)="onClinicSelected($event)"
                        ></app-clinic-dropdown>
                    </div>
                </div>
            </fieldset>

            <div class="form-group text-center mg-t-20">
                <button class="btn btn-primary btn-md" (click)="onSubmitBooking()">Submit</button>
            </div>
        </ng-container>
    </div>
</div>
