<div class="pd-30 pd-sm-40 wd-xl-100p az-form-group">
    <fieldset class="border p-2 mg-t-0 rounded">
        <legend class="w-auto tx-16 tx-bold">PHYSICAL EXAMINATION
        </legend>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> General Condition:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter General Condition"
                          [(ngModel)]="props.payload.generalCondition"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Respiratory System:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Respiratory System"
                          [(ngModel)]="props.payload.respiratorySystem"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Cardiovascular System:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Cardiovascular System"
                          [(ngModel)]="props.payload.cardiovascularSystem"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Breast and Nipples:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Breast and Nipples"
                          [(ngModel)]="props.payload.breastAndNipples"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Abdomen:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Abdomen"
                          [(ngModel)]="props.payload.abdomen"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Vaginal Examination:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Vaginal Examination"
                          [(ngModel)]="props.payload.vaginalExamination"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Other Abnormalities:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Other Abnormalities"
                          [(ngModel)]="props.payload.otherAbnormalities"></textarea>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Comment:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Comment"
                          [(ngModel)]="props.payload.comment"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Special Instructions Regarding Puerperium:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Special Instructions"
                          [(ngModel)]="props.payload.specialInstructions"></textarea>

            </div>
        </div>
    </fieldset>
</div>
