<ng-select  (change)="onSelected($event)" placeholder="Select..." appendTo="body">
    <ng-option value="ACCEPTED"> ACCEPTED </ng-option>
    <ng-option value="INCOMPLETE"> INCOMPLETE </ng-option>
    <ng-option value="INSUFFICIENT"> INSUFFICIENT </ng-option>
    <ng-option value="WRONG BOTTLE"> WRONG BOTTLE </ng-option>
    <ng-option value="NO SAMPLE"> NO SAMPLE  </ng-option>
    <ng-option value="RUINED"> RUINED  </ng-option>
    <ng-option value="LYSED"> LYSED  </ng-option>
    <ng-option value="CLOATED"> CLOATED  </ng-option>
</ng-select>
