<div class="main-wrapper az-content-body">
    <fieldset class="border p-2 mg-t-10 rounded bg-gray-100">
        <legend class="w-auto tx-14 tx-bold p-2">Add Parameter</legend>

        <div class="flex-column">
            <div class="row align-items-center mg-b-20 mg-t-5">
                <div class="row flex-1 col-12 mg-l-5">
                    <label class="w-15 align-self-center">Parameter Name:</label>
                    <div class="w-50 mg-l-10">
                        <app-search-lab-param (selected)="onParameterSelected($event)"></app-search-lab-param>
                    </div>
                </div>
                <div class="row flex-1 col-12 mg-l-5">
                    <label class="w-15 align-self-center">Hierarchy:</label>
                    <div class="w-50 mg-l-10" (dblclick)="isReadOnly = !isReadOnly">
                        <input type="number" [readonly]="isReadOnly" min="1" class="form-control" [(ngModel)]="hierarchy">
                    </div>
                </div>
                <div class="row flex-1  mg-l-5">
                    <button class="btn btn-sm btn-primary" (click)="onAddItem()">Add</button>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="border p-2 mg-t-10 rounded bg-gray-100">
        <legend class="w-auto tx-14 tx-bold p-2"></legend>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-sm btn-primary" (click)="onSaveData()">Save Data</button>
            </div>

            <div class="col-6">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                        <tr>
                            <th class="wd-15p"></th>
                            <th class="wd-20p text-left">Title</th>
                            <th class="wd-20p text-left">Hierarchy</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of items; let i = index">
                            <td>
                                <label class="form-check-label">
                                    <i (click)="onRemoveItem(i)"
                                       class="pd-2 mg-l-1 fa fa-trash text-danger pointer"
                                    ></i>
                                </label>
                            </td>
                            <td>{{item.parameter.title}}</td>
                            <td>{{item.parameterHierarchy}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
    </fieldset>
</div>
