<div class="input-wrapper">
    <ng-select
        #searchService
        [items]="responsePayload | async"
        bindLabel="title"
        [trackByFn]="trackByFn"
        [minTermLength]="minLengthTerm"
        [loading]="isLoading"
        typeToSearchText="Please enter {{ minLengthTerm }} or more characters"
        [typeahead]="searchInput$"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="selectedPayload"
        (change)="onSelect($event)"
        [clearable]="true"
        [clearOnBackspace]="true"
        [editableSearchTerm]="true"
        placeholder="Search.."
    >
        <ng-template ng-option-tmp let-item="item">
            <strong>
                {{ item.title }}
            </strong>
        </ng-template>
    </ng-select>
</div>
