<div class="main-wrapper az-content-body">

    <fieldset class="border p-2 mg-t-10 rounded bg-gray-100">
        <legend class="w-auto tx-16 tx-bold">
        </legend>
        <div class="row pd-l-10 pd-r-10">
            <div class="col-md-4">
                <div class="form-group d-inline">
                    <label class="tx-16 txt-black">Scheme</label>
                    <app-scheme-search (selected)="onSchemeSelected($event)" #schemeSearchComponent></app-scheme-search>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group d-inline">
                    <label class="tx-16 txt-black">Product / Service</label>
                    <app-service-name-search (selected)="onServiceSelected($event)" #serviceNameSearchComponent></app-service-name-search>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group d-inline">
                    <label class="tx-16 txt-black">Price</label>
                    <input type="number" class="form-control" [(ngModel)]="payload.price">
                </div>
            </div>
        </div>

        <div class="mg-t-25 pd-sm-15 wd-xl-100p">
            <div class="form-group text-left">
                <button class="btn btn-primary" (click)="onSavePrice()" >Save </button>
            </div>
        </div>
    </fieldset>
</div>
