<div class="main-wrapper az-content-body">
    <div class="flex-column pd-t-0">
        <div class="row">
            <div class="col-md-12 row bg-gray-200 mg-l-0 pd-10 mg-b-20">
                <div class="col-md-12">
                    <label>Search XRay Service:</label>
                    <app-service-name-search [props]="{showLabel: false}"
                                             (selected)="onServiceSelected($event)"></app-service-name-search>
                </div>
            </div>

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped w-100">
                        <thead>
                        <tr>
                            <th class="wd-5p">
                                <div class="form-check form-check-inline">
                                    <input
                                            class="form-check-input"
                                            type="checkbox"
                                            [checked]="isAllCheckBoxChecked()"
                                            (change)="checkAllCheckBox($event)"
                                    />
                                    <label class="form-check-label">
                                        <i (click)="onRemoveAllCheckedBillItems()"
                                           class="pd-2 mg-l-1 fa fa-trash text-danger pointer"
                                        ></i>
                                    </label>
                                </div>
                            </th>
                            <th class="wd-40p">SERVICE NAME</th>
                            <th class="wd-5p text-center">PRICE</th>
                            <th class="wd-40p text-center">COMMENT</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <button class="btn btn-az-primary btn-md">Save Close</button>
            </div>
        </div>
    </div>
</div>
