<fieldset>
    <legend>Other Information</legend>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="row row-xs align-items-center mg-b-20 mg-t-20">
                <div class="col-md-3 text-right">
                    <label>Other info: </label>
                </div>
                <div class="col-md-9 mg-t-5 mg-md-t-0">
                    <input type="text" class="input-control" [(ngModel)]="props.data.otherInfo">
                </div>
            </div>
        </div>
    </div>
</fieldset>
