<fieldset class="border p-2 rounded bg-gray-100">
    <legend class="w-auto tx-16 tx-bold">
        Seed Organism Data
        <ng-template #statusTemplate>
            To <code>create</code> new organism record, follow the below steps:
            <br />
            1. Enter the name <br />
            2. Click on save button.
            <br />
        </ng-template>
        <i
            class="fa fa-info-circle fa-sm tx-12"
            [ngbPopover]="statusTemplate"
            placement="right"
            triggers="mouseenter:mouseleave"
            container="body"
            aria-hidden="true"
        ></i>
    </legend>
    <form (ngSubmit)="onCreateOrganism()" [formGroup]="organismForm">
        <div class="row form-group">
            <div class="col-md-6">
                <label for="name">Enter Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    [formControlName]="'name'"
                    [ngClass]="{ 'is-invalid': isSubmitted && form.name.errors }"
                />
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
    <div class="table-responsive mg-t-20">
        <table class="table table-bordered mg-b-0">
            <thead>
                <tr>
                    <th class="wd-3">
                        <label>
                            <input type="checkbox" />
                        </label>
                    </th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of organismList">
                    <th scope="row">
                        <label>
                            <input type="checkbox" />
                        </label>
                    </th>
                    <td>{{ data.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
