<div class="pd-30 pd-sm-40 wd-xl-100p az-form-group">
    <fieldset class="border p-2 mg-t-0 rounded">
        <legend class="w-auto tx-16 tx-bold">HISTORY OF PRESENT PREGNANCY
        </legend>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Bleeding:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Bleeding" [(ngModel)]="props.payload.bleeding"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Discharge:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Discharge" [(ngModel)]="props.payload.discharge"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Urinary Symptom:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Urinary Symptom" [(ngModel)]="props.payload.urinarySymptom"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Swelling of Ankles:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter Swelling of Ankles" [(ngModel)]="props.payload.swellingOfAnkles"></textarea>

            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4 text-right ">
                <label class="pd-r-25"> Others Symptoms:
                </label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <textarea cols="10" rows="2" class="input-control" placeholder="Enter  Others Symptoms" [(ngModel)]="props.payload.otherSymptoms"></textarea>

            </div>
        </div>
    </fieldset>
</div>
