<fieldset class="border p-2 rounded bg-gray-100">
    <legend class="w-auto tx-16 tx-bold">Seed Scheme Data</legend>
    <div class="form-group">
        <form [formGroup]="schemeForm" (ngSubmit)="onCreateScheme()">
            <div class="row form-group">
                <div class="col-md-6">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Title"
                        [formControlName]="'name'"
                        [ngClass]="{ 'is-invalid': isSubmitted && form.name.errors }"
                    />
                </div>

                <div class="col-md-6">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Discount"
                        [formControlName]="'discount'"
                        [ngClass]="{ 'is-invalid': isSubmitted && form.discount.errors }"
                    />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <div class="table-responsive mg-t-20">
            <table class="table table-bordered mg-b-0">
                <thead>
                    <tr>
                        <th class="wd-3">
                            <label>
                                <input type="checkbox" />
                            </label>
                        </th>
                        <th>Scheme Title</th>
                        <th>Discount %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let scheme of schemeList">
                        <th scope="row">
                            <label>
                                <input type="checkbox" />
                            </label>
                        </th>
                        <td>{{ scheme.insuranceName }}</td>
                        <td>{{ scheme.discount }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
