<div class="row">
    <div class="col-md-12">
        <div class="form-group w-100">
            <label>OLD PASSWORD</label>
            <input type="password" class="form-control form-control-sm" [(ngModel)]="payload.oldPassword" #oldPasswordInput />
            <i #oldPasswordEye class="far fa-eye-slash password-toggle" (click)="oldToggle = !oldToggle; onToggleInputType(oldPasswordInput, oldPasswordEye)"></i>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group w-100">
            <label>NEW PASSWORD</label>
            <input type="password" class="form-control form-control-sm" [(ngModel)]="payload.newPassword" #newPasswordInput />
            <i #newPasswordEye class="far fa-eye-slash password-toggle" (click)="newToggle = !newToggle; onToggleInputType(newPasswordInput, newPasswordEye)"></i>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group w-100">
            <label>CONFIRM NEW PASSWORD</label>
            <input type="password" class="form-control form-control-sm" [(ngModel)]="payload.confirmPassword" #confirmPasswordInput />
            <i #confirmPasswordEye class="far fa-eye-slash password-toggle" (click)="confirmToggle = !confirmToggle; onToggleInputType(confirmPasswordInput, confirmPasswordEye)"></i>
        </div>
    </div>
</div>

<div class="text-center">
    <button
            type="submit"
            class="btn btn-primary mg-l-10"
            (click)="onChangePassword()"
    >
    SUBMIT
    </button>
</div>
