<div class="pd-30 pd-sm-40 bg-gray-200 wd-xl-100p"
     [@fadeInOnEnter] [@fadeOutOnLeave]>
    <div class="row row-xs align-items-center mg-b-20">
        <div class="col-md-4">
            <label>Informant Full Name</label>
        </div>
        <div class="col-md-8 mg-t-5 mg-md-t-0">
            <input type="text" class="input-control"
                   placeholder="Enter full name" [(ngModel)]="props.data.informantName">
        </div>
    </div>
    <div class="row row-xs align-items-center mg-b-20">
        <div class="col-md-4">
            <label>Informant Phone Number</label>
        </div>
        <div class="col-md-8 mg-t-5 mg-md-t-0">
            <input type="text" class="input-control" (keypress)="numberMatch($event)"
                   placeholder="Enter phone number" [(ngModel)]="props.data.informantPhoneNumber">
        </div>
    </div>

    <div class="row row-xs align-items-center mg-b-20">
        <div class="col-md-4">
            <label>Relationship with Informant
                <small>(optional)</small> </label>
        </div>
        <div class="col-md-8 mg-t-5 mg-md-t-0">
            <app-relationship-dropdown
                    (selected)="onRelationshipSelected($event)"></app-relationship-dropdown>
        </div>
    </div>
</div>
