<div class="mg-b-20">
    <fieldset class="border p-2 rounded bg-gray-100 mg-t-10">
        <legend class="w-auto tx-16 tx-bold">
            User Password Reset
            <ng-template #statusTemplate>
                To <code>reset </code> user password, follow the below steps;<br />
                1. Find user, search with <code>username, </code> <code>email, </code> or
                <code>last name</code> <br />
                2. Enter the new password <br />
                3. Confirm the new password <br />
                4. Click on Reset Password button.<br />
                <small>
                    <code>For Technical Support, Contact A System Administrator</code>
                </small>
            </ng-template>
            <i
                class="fa fa-info-circle fa-sm tx-12"
                [ngbPopover]="statusTemplate"
                placement="right"
                triggers="mouseenter:mouseleave"
                container="body"
                aria-hidden="true"
            ></i>
        </legend>
        <form
            autocomplete="off"
            class="pd-l-10"
            (ngSubmit)="onSubmit()"
            [formGroup]="passwordResetForm"
        >
            <div class="form-group row">
                <div class="col-md-10">
                    <label>User Search</label>
                    <app-user-search #userSearchComponent [props]="{
                     showLabel: false,
                    isConsultant: false,
                    showDisabledUser: false
                    }" (selected)="onUserSelected($event)"></app-user-search>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4">
                    <label for="password">Enter New Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        [ngClass]="{
                            'is-invalid': isSubmit && form.password.invalid
                        }"
                        [formControlName]="'password'"
                    />
                    <div class="input-group-sm" *ngIf="isSubmit && form.password.invalid">
                        <small class="text-danger">password must be at least 6 characters</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="confirmPassword">Confirm Password</label>
                    <input
                        class="form-control"
                        id="confirmPassword"
                        type="password"
                        name="confirmPassword"
                        [ngClass]="{
                            'is-invalid': isSubmit && form.confirmPassword.invalid
                        }"
                        [formControlName]="'confirmPassword'"
                    />
                    <div class="input-group-sm" *ngIf="isSubmit && isNotMatch">
                        <small class="text-danger">Password & Confirm Password Don't Match</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-social" (click)="onSubmit()">
                    Reset Password
                </button>
            </div>
        </form>
    </fieldset>
</div>
