<ng-select (change)="onSelected($event)"  placeholder="Select Specimen Color.." [(ngModel)]="default">
    <ng-option value="Red"> Red </ng-option>
    <ng-option value="Gray/Ash"> Gray/Ash </ng-option>
    <ng-option value="Purple"> Purple </ng-option>
    <ng-option value="Green"> Green </ng-option>
    <ng-option value="Blue"> Blue </ng-option>
    <ng-option value="Yellow/Gold"> Yellow/Gold </ng-option>
    <ng-option value="Pink"> Pink </ng-option>
    <ng-option value="Culture Bottle"> Culture Bottle </ng-option>
</ng-select>
