<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label>Presenting Complaints<small>(s)</small>:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" [(ngModel)]="props.data.presentingComplaint" placeholder="Enter Presenting Complaints"></textarea>

    </div>
</div>

<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label>History of Presenting Complaints<small>(s)</small>:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" placeholder="Enter History of Presenting Complaints"
                  [(ngModel)]="props.data.historyOfPresentingComplaint"></textarea>
    </div>
</div>

<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label> Review of System<small>(s)</small>:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" [(ngModel)]="props.data.reviewOfSystem" placeholder="Enter Review of System"></textarea>
    </div>
</div>

<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label>Past Medical and Surgical History:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" placeholder="Enter Past Medical"
                  [(ngModel)]="props.data.pastMedicalAndSurgicalHistory"></textarea>
    </div>
</div>

<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label>Psychiatric History:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" [(ngModel)]="props.data.psychiatricHistory" placeholder="Enter Psychiatric History"></textarea>
    </div>
</div>

<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label>O&G History:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" [(ngModel)]="props.data.gynaecologyHistory" placeholder="Enter O&G History"></textarea>
    </div>
</div>

<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label>Paediatric History:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" [(ngModel)]="props.data.paediatricHistory" placeholder="Enter Paediatric History"></textarea>
    </div>
</div>

<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label>Drug History:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" [(ngModel)]="props.data.drugHistory" placeholder="Enter Drug History"></textarea>
    </div>
</div>

<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label>Immunization History:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" [(ngModel)]="props.data.immunizationHistory" placeholder="Enter Immunization History"></textarea>
    </div>
</div>

<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label>Travel History:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" [(ngModel)]="props.data.travelHistory" placeholder="Enter Travel History"></textarea>
    </div>
</div>

<div class="row row-xs align-items-center mg-b-20">
    <div class="col-md-4">
        <label>Family History:
        </label>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
        <textarea rows="2" cols="10" class="input-control" [(ngModel)]="props.data.familyHistory" placeholder="Enter Family History"></textarea>
    </div>
</div>
