<div class="input-wrapper">
    <label *ngIf="props?.showLabel">Type Speciality Title</label>
    <ng-select
        #selectComponent
        [items]="responsePayload | async"
        bindLabel="label"
        [trackByFn]="trackByFn"
        [minTermLength]="minLengthTerm"
        [loading]="isLoading"
        typeToSearchText="Please enter {{ minLengthTerm }} or more characters"
        [typeahead]="searchInput$"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="selectedPayload"
        (change)="onSelect($event)"
        [clearable]="true"
        placeholder="Search Speciality Unit.. "
    >
        <ng-template ng-option-tmp let-item="item">
            <strong> {{ item.name }} </strong> <br />
            <small> code: {{ item.code }} </small>
        </ng-template>
    </ng-select>
</div>
